extends layout

block content
  h1 Janne's Entropy ∆Sº Value API
  p Welcome to an Entropy Value API made by Nick Janne. <br/> This API is able to accept a URL argument and return JSON data to the user
  br
  p Example usage: 
  code https://localhost:3000/Ca(OH)2(s)/
  p Returns: 
  code {compound: CaOH(2)(s), entropy: 83.39}
  br
  br
  h4 NOTE that this program does integrate coefficients, and the data in this API is provided from <a href="http://bilbo.chm.uri.edu/CHM112/tables/thermtable.htm">The University of Rhode Island</a>
